/******************************************************************
Site Name: Ed Hardy
Author: Gennaro Monaco, Agustin Feliz, Rich Hyun

Stylesheet: Base Mobile Stylesheet -- 1024px Landscape

******************************************************************/

/*********************
GENERAL STYLES
*********************/

.hideme {
	display: block;
}

/*********************
POSTS & CONTENT STYLES
*********************/

#twitter_feed_tile,
#follow_us_tile {
    padding-bottom: 25%;
}