/******************************************************************
Site Name: Ed Hardy
Author: Gennaro Monaco, Agustin Feliz, Rich Hyun

Stylesheet: iPad Landscape Stylsheet

******************************************************************/

/*********************
GENERAL STYLES
*********************/

.hideme {
	display: block;
}

/*********************
POSTS & CONTENT STYLES
*********************/

.gridbg {
    padding-bottom: 25%;

    h2.gridh2 {
		font-size: 2.3em;
	}
}

.page-template-page-homepage-layout-2-php {
	#tile_1 {
		padding-bottom: 50% !important;
	}
}

.page-template-page-homepage-layout-3-php {
	#tile_1 {
		padding-bottom: 50% !important;
	}
}

#about {
	h2 {
		background-size: 100% auto;
		// -ms-behavior: url(/backgroundsize.min.htc);
	    margin: 15.5% auto 1%;
	    padding-top: 27.2%;
	    width: 34.92%;
	}

	.dagger {
		background: url(../images/home/true-love-knife.png) no-repeat;
		background-size: contain;
		// -ms-behavior: url(/backgroundsize.min.htc);
		height: 0px;
		// max-width: 144px;
		width: 12%;
		padding-bottom: 25%;
		z-index: 9999999;
		position: absolute;
		left: 50%;
		margin-left: -6%;
		// top: 59%;
		bottom: -10%;
	}
}

#american-art-legend {
    height: 0;
    padding-bottom: 50%;

	h2 {
    	padding-top: 21%;
	}
}