/******************************************************************
Site Name: Ed Hardy
Author: Gennaro Monaco, Agustin Feliz, Rich Hyun

Stylesheet: Desktop Stylesheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

/*********************
POSTS & CONTENT STYLES
*********************/

// http://jsfiddle.net/KDtAX/487/
// https://coderwall.com/p/-3f9gq
.grayscale,
.grayscale img {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'saturate\' values=\'0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    @include transition(all 0.6s ease);
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
    backface-visibility: hidden; /* Fix for transition flickering */
    -webkit-perspective: 1000;

    &:hover {
   		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'saturate\' values=\'1\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
		-webkit-filter: grayscale(0%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
	}
}

.gridbg {
    padding-bottom: 25%;

	a {
		color: $link-color;
	}

	h2.gridh2 {
		@include transition(all 0.3s ease-in-out);
		opacity: 0;
		-webkit-transform:scale(1.5);
		-moz-transform:scale(1.5);
		-ms-transform:scale(1.5);
		-o-transform:scale(1.5);
		transform:scale(1.5);
	    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
	    backface-visibility: hidden; /* Fix for transition flickering */
	    -webkit-perspective: 1000;
		// font-size: 5em;
	}
	&:hover {
		h2.gridh2 {
			color: $link-hover;
			opacity: 1;
			-webkit-transform:scale(1);
			-moz-transform:scale(1);
			-ms-transform:scale(1);
			-o-transform:scale(1);
			transform:scale(1);
			// font-size: 2.3em;
		}
	}
}

#about_tile {

	&:after {
		opacity: 0;
	}
	&:hover {
		&:after {
			opacity: 0.9;
		}
	}
}

#follow_us_tile {
	// h2 {
	// 	@include transition(all 0.2s ease-in-out);
	// 	opacity: 0;
	// }
	ul {
		@include transition(all 0.3s ease-in-out);
		opacity: 0;
	}
	&:hover {
		// h2 {
		// 	opacity: 1;
		// 	font-size: 2.3em;
		// }
		ul {
			opacity: 1;
		}
	}
}

#twitter_feed_tile {

	.twitter-tile-carousel {

	    .tweet {

		    ul {

			    li {

			    	h2.twitter_handle {
			    		@include transition(all 0.3s ease-in-out);
			    	}

					h4.reply_retweet_favorite {
						@include transition(opacity 0.3s ease-in-out);
						opacity: 0;
					    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
					    backface-visibility: hidden; /* Fix for transition flickering */
					    -webkit-perspective: 1000;
					}
				}
			}
		}
	}

	#left,
	#right {
		@include transition(opacity 0.3s ease-in-out);
		opacity: 0;
	    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
	    backface-visibility: hidden; /* Fix for transition flickering */
	    -webkit-perspective: 1000;
	}

	&:hover {

		.twitter-tile-carousel {

		    .tweet {

			    ul {

				    li {

						h2.twitter_handle {
							margin-top: 20%;
						}

						h4.reply_retweet_favorite {
							opacity: 1;
						}
					}
				}
			}
		}

		#left,
		#right {
			opacity: 1;
		}

	}

}

// #image_below_grid {
// 	background-attachment: fixed;
// 	background-size: auto;
// }

#about {
	h2 {
		background-size: 100% auto;
		// -ms-behavior: url(/backgroundsize.min.htc);
	    margin: 15.5% 0 1% -17%;
	    padding-top: 27.2%;
	    width: 34.92%;
	    left: 50%;
	    position: absolute;
	}
}

#american-art-legend {
	.eh-pic {
		// bottom: -50px;
	}
}