/******************************************************************
Site Name: Ed Hardy
Author: Gennaro Monaco, Agustin Feliz, Rich Hyun

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

.gridbg {
	a {
		h2 {
		}
		&:hover {
			h2.gridh2 {
				font-size: 2.812em;
			}
		}
	}
}

#follow_us_tile {
	h2 {
	}
	ul {
	}
	&:hover {
		h2.gridh2 {
			font-size: 2.812em;
		}
		ul {
		}
	}
}

#american-art-legend {
	p {
		font-size: 1.125em;
		line-height: 1.875;
   		// width: 53%;
	}
}