/******************************************************************
Site Name: Ed Hardy
Author: Gennaro Monaco, Agustin Feliz, Rich Hyun

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

.page-template-page-homepage-layout-1-php {
	.gridbg {
		h2 {
			font-size: 2.812em;
		}
	}
}

#american-art-legend {
	p {
		font-size: 1.125em;
		line-height: 1.875;
   		width: 55%;
	}
}