/******************************************************************
Site Name: Ed Hardy
Author: Gennaro Monaco, Agustin Feliz, Rich Hyun

Stylesheet: Base Mobile Stylesheet -- 480px Landscape

******************************************************************/

/*********************
POSTS & CONTENT STYLES
*********************/

.gridbg {
    padding-bottom: 50%;

	h2.gridh2 {
		font-size: 2.2em;
	}
}


.twitter-tile-carousel {

    .tweet {

	    ul {

		    li {

			    p.the_tweet {
					font-size: 0.8em;
				}

				h4.reply_retweet_favorite {
					font-size: 0.8em;
				}
			}
		}
	}
}

#follow_us_tile {
	ul {
		li {
			margin-right: 2.75%;
		}
	}
}

#american-art-legend {
	h2 {
	    padding-top: 54%;
	}
}