/******************************************************************
Site Name: Ed Hardy
Author: Gennaro Monaco, Agustin Feliz, Rich Hyun

Stylesheet: Base Mobile Stylesheet -- 480px Landscape

******************************************************************/

/*********************
POSTS & CONTENT STYLES
*********************/

#twitter_feed_tile,
#follow_us_tile {
    padding-bottom: 50%;
}

#follow_us_tile {
	h2 {
		font-size: 2.5em;
	}
	ul {
		li {
			margin-right: 2.75%;
		}
	}
}

#american-art-legend {
	h2 {
	    padding-top: 54%;
	}
}