/******************************************************************
Site Name: Ed Hardy
Author: Gennaro Monaco, Agustin Feliz, Rich Hyun

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	background: #000;
	font-family: $rw;
	font-size: 100%;
	line-height: 1.5;
	color: #FFFFFF;
}

img, video, object {
	max-width: 100%;
	height: auto;
}

.hideme {
	display: none;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 100%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: $rw;
	text-rendering: optimizelegibility;
	font-weight: 500;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.header {}

	#inner-header {
	}

	#logo {
		background: url(../images/sprite-logo.png) no-repeat;
		display: block;
		width: 171px;
		height: 34px;
		margin: 14px auto;

		&:hover {
			background-position: 0 -34px;
		}
	}

/*********************
NAVIGATION STYLES
*********************/

.top-nav {
	background: black;
	border: 0;
	margin: 0;
	text-align: center;

	ul {
		margin: 0 auto;
		overflow: hidden;
		text-align: center;
	}
	> li {
		display: inline-block;
		padding: 0;
		position: relative;

		a {
			display: inline;
			line-height: 1;
			padding: 4px 9px;
			text-decoration: none;
			text-transform: uppercase;

			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/

			&:hover, &:focus {
			}

		}

		&:first-child {}
		&:last-child {}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {
		a {}
	}  /* end current highlighters */

	li.nav-about,
	li.nav-lookbook {
		top: -10px;
	}

	li.nav-newsletter > a {
		float: left;
		background: url(../images/arrow-newsletter.png) no-repeat 100% 50%;
		padding-right: 19px;
		font-size: 8.5px;
		letter-spacing: 0.12em;

		&:hover {
			color: #c02f1a;
		}

		strong {
			display: block;
			font-size: 11px;
			letter-spacing: 0.2em;
		}
	}

} /* end .top-nav */

/*
social links
*/
#inner-header {
	ul.social-nav {
		margin: 0 auto;
		overflow: hidden;
		text-align: center;

		li {
			display: inline-block;
		}

		li.facebook,
		li.twitter,
		li.youtube,
		li.instagram,
		li.pinterest {
			padding: 6px 4.5px 9px 9px;
		}
		li.facebook a,
		li.twitter a,
		li.youtube a,
		li.instagram a,
		li.pinterest a {
			background: url(../images/sprite-social.png) no-repeat;
			display: block;
			height: 17px;
			padding: 0;
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
		}
		li.facebook a {
			background-position: 0 0;
			width: 10px;
			&:hover {
				background-position: 0 -17px;
			}
		}
		li.twitter a {
			background-position: -10px 0;
			width: 16px;
			&:hover {
				background-position: -10px -17px;
			}
		}
		li.youtube a {
			background-position: -26px 0;
			width: 19px;
			&:hover {
				background-position: -26px -17px;
			}
		}
		li.instagram a {
			background-position: -45px 0;
			width: 16px;
			&:hover {
				background-position: -45px -17px;
			}
		}
		li.pinterest a {
			background-position: -61px 0;
			width: 11px;
			&:hover {
				background-position: -61px -17px;
			}
		}
	}
}

/*********************
POSTS & CONTENT STYLES
*********************/

/* #content {
	margin-top: 2.2em;
} */

		.hentry {

			header {}

			footer {}

		} /* end .hentry */

		.single-title,
		.page-title {}

		.single-title {}

		.page-title {}

		.archive-title { }

		/* want to style individual post classes? Booya! */
		.post-id {}         /* post by id (i.e. post-3) */
		.post {}            /* general post style */
		.page {}            /* general article on a page style */
		.attachment {}      /* general style on an attatchment */
		.sticky {}          /* sticky post style */
		.hentry {}          /* hentry class */
		.category-slug {}   /* style by category (i.e. category-videos) */
		.tag-slug {}        /* style by tag (i.e. tag-news) */

		/* post meta */
		.byline {
			color: #999;

			time {}
		}

		/* entry content */
		.entry-content {

			p {}


			ul, ol, table, dl {}

			ul, ol {

				li {}

			}

			ul {

				li {}

			}

			ol {

				li {}

			}

			blockquote {

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			video, object {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: #eee;
				border: 1px solid #cecece;
				padding: 10px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

.grid {
	img {
		float: left;
		width: 100%;
	}
}

.gridbg {
	background-size: contain;
	-ms-behavior: url(/backgroundsize.min.htc);
    height: 0;
    padding-bottom: 100%;
    position: relative;

	> a {
		display: inline-block;
		width: 100%;
		text-decoration: none;
		position: absolute;
		z-index: 1;
	}

	h2.gridh2 {
		color: $white;
		font-family: $rw-light;
		font-size: 2.812em;
		line-height: 1em;
		margin: 35% auto;
		text-align: center;
		text-transform: uppercase;

		strong {
			display: block;
			font-family: $rw-bold;
			font-weight: normal;
		}
	}
}

#lookbook_tile {
	h2.gridh2 {
		margin: 45% auto;
	}
}

#about_tile {
	overflow: hidden;

	&:after {
		content: "";
		display: inline-block;
		background: #000;
		opacity: 0.9;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: 0;
		width: 100%;
		height: 100%;
	}
}

#follow_us_tile {

	h2 {
		margin-bottom: 6px;
	}

	ul {
		list-style: none;
		margin: 0 auto;
		padding: 0;
		max-width: 256px;

		li {
			float: left;
			margin-right: 4.69%;

			a {
				background: url(../images/home/sprite-follow-us.png) no-repeat;
				display: block;
				width: 55px;
				height: 60px;
				text-indent: 100%;
				white-space: nowrap;
				overflow: hidden;
			}
		}

		li.facebook a {
			background-position: 0 0;

			&:hover {
				background-position: 0 -60px;
			}
		}

		li.twitter a {
			background-position: -67px 0;

			&:hover {
				background-position: -67px -60px;
			}
		}

		li.youtube {
			display: none;
		}

		li.instagram a {
			background-position: -134px 0;

			&:hover {
				background-position: -134px -60px;
			}
		}

		li.pinterest {
			margin-right: 0;
		}

		li.pinterest a {
			background-position: -200px 0;

			&:hover {
				background-position: -200px -60px;
			}
		}
	}
}

.page-template-page-homepage-layout-2-php {
	#follow_us_tile {
		h2 {
			margin: 17% auto 0;
		}
	}
}

.page-template-page-homepage-layout-2-php {
	#tile_1 {
		padding-bottom: 100% !important;
	}
}

.page-template-page-homepage-layout-3-php {
	#tile_1 {
		padding-bottom: 50% !important;
	}
}

.twitter-tile-carousel {

    .tweet {
    	overflow: hidden;
    	text-align: center;

	    ul {
		    list-style: none;
		    margin: 0;
		    padding: 0;

		    li {
			    float: left;
			    position: relative;
			    padding-bottom: 100%;

				h2.twitter_handle {
					color: $white;
					font-size: 1.37em;
					margin-top: 25%;

					a {
						color: $white;
						font-size: 1.37em;
    					text-decoration: none;
					}
				}

			    p.the_tweet {
					color: #bbb;
					font-family: "Rockwell W01", serif;
					font-size: 0.97em;
					line-height: 1.2;
				    text-align: center;
				    margin: 0 12%;

				    a {
					    color: $red;
					    text-decoration: none;

					    &:hover {
							color: #d85240;
						}
					}
				}

				h4.reply_retweet_favorite {
					font-size: 0.97em;

					a {
						color: $white;
						font-size: 0.97em;
						text-decoration: none;

						&:hover {
							color: $red;
						}
					}
				}
			}
		}
	}
}
#twitter_feed_tile #left,
#twitter_feed_tile #right {
	border: none;
	background: url(../images/sprite-twitter-arrows.png) no-repeat;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 42%;
}
#twitter_feed_tile #left {
	background-position: 0 0;

	&:hover {
		background-position: 0 -40px;
	}
}
#twitter_feed_tile #right {
	background-position: -40px 0;
	right: 0;

	&:hover {
		background-position: -40px -40px;
	}
}

#image_below_grid {
	height: 0;
	padding-bottom: 52.75%;
	overflow: hidden;

	img {
		position: absolute;
	}
}

#about {
	background: url(../images/home/home-bg-2.jpg) no-repeat;
    background-size: 100% auto;
	-ms-behavior: url(/backgroundsize.min.htc);
    width: 100%;
    height: 0;
    padding-bottom: 50%;
	position: relative;

	h2 {
		background: url(../images/home/hdr-who-is.png) no-repeat;
		background-size: 100% auto;
		-ms-behavior: url(/backgroundsize.min.htc);
		height: 0;
	    margin: 11.5% auto 0;
	    padding-top: 27.2%;
	    text-align: center;
	    width: 95%;
	    max-width: 419px;
	}
}

#american-art-legend {
	background: #f3f3f3 url(../images/home/home-bg-3-full.jpg) no-repeat center center;
	background-size: contain;
	-ms-behavior: url(/backgroundsize.min.htc);

	h2 {
		background: url(../images/home/hdr-art-legend.png) no-repeat;
		background-size: contain;
		-ms-behavior: url(/backgroundsize.min.htc);
		height: 0;
		margin: 2.5% 0.75% 0;
	    padding-top: 63%;
	    // width: 100%;
	    max-width: 398px;
	}

	p {
		color: #323232;
    	margin: 2% 2.7%;
	}
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.1em 0 2.2em;
}
	.pagination{
        text-align: center;
        ul {
            display: inline-block;
            white-space: nowrap;
            padding:0;
            clear: both;
            margin: 1px;
            li {
                padding: 0;
                margin: 0;
                float: left;
                display: inline;
                overflow: hidden;
                a, span {
                    margin: 0;
                    text-decoration: none;
                    padding: 0;
                    line-height: 1em;
                    font-size: 1em;
                    font-weight: normal;
                    padding: .5em;
                    min-width: 1em;
                    display: block;
                }
                span.current{
                	font-weight: bold;
                }
                a:hover, a:focus {

                }
            }
        }
    } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments {

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {

	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		} /* end .commentlist li ul.children */
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-right: -10px;
		margin-left: -10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {}
	li.depth-4 {}
	li.depth-5 {}

	/* general comment classes */
	.alt {}
	.odd {
		background: #eee;
	}
	.even {
		background: #fefefe;
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} /* end .commentlist .vcard */


	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {
		margin-left: 50px;

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		text-decoration: none;
		float: right;
		background: #4598bb;
		padding: 3px 5px;
		color: #fff;
		opacity: 0.65;
		margin-bottom: 10px;
		font-weight: 700;
		font-size: 0.9em;

		&:hover,
		&:focus {
			opacity: 1;
		}

	} /* end .commentlist .comment-reply-link */

} /* end .commentlist */

/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			/* form validation */
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

	/* comment submit button */
	#submit {}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

	.widgettitle {}

	.widget {

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	text-transform: uppercase;
}

.copyright {
	float: left;
	padding: 5px 16px 9px 8px;
	text-align: left;
}

.footer-nav {
	float: right;
	padding: 5px 16px 9px 8px;

	> li {
		border: none;
		float: left;
		position: relative;

		a {
			display: inline;
			padding: 0;
			text-align: left;
			text-decoration: none;
		}
	}
}