/******************************************************************
Site Name: Ed Hardy
Author: Gennaro Monaco, Agustin Feliz, Rich Hyun

Stylesheet: Grid Stylesheet

I've seperated the grid so you can swap it out easily. It's
called at the top the style.scss stylesheet.

There are a ton of grid solutions out there. You should definitely
experiment with your own. Here are some recommendations:

http://gridsetapp.com - Love this site. Responsive Grids made easy.
http://susy.oddbird.net/ - Grids using Compass. Very elegant.
http://gridpak.com/ - Create your own responsive grid.

The grid below is a combination of the 1140 grid and Twitter Boostrap.
I liked 1140 but Boostrap's grid was way more detailed so I merged them
together, let's see how this works out. If you want to use 1140, the original
values are commented out on each line.

Agustin -- I changed this to use a 1200 grid since design is that way via Gridpak.

******************************************************************/

.onecol    { width: 8.33333333333%; }
.twocol    { width: 16.6666666667%; }
.threecol  { width: 25.0%; }
.fourcol   { width: 33.3333333333%; }
.fivecol   { width: 41.6666666667%; }
.sixcol    { width: 50.0%; }
.sevencol  { width: 58.3333333333%; }
.eightcol  { width: 66.6666666667%; }
.ninecol   { width: 75.0%; }
.tencol    { width: 83.3333333333%; }
.elevencol { width: 91.6666666667%; }
.twelvecol { width: 100%; }

// layout & column defaults
.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
  position: relative;
  float: left;
  margin-left: 0;
}

.first {
  margin-left: 0;
}

.last {
  float: right;
}
