/******************************
*
*  RoyalSlider Lookbook Skin 
* 
******************************/

/***************
*
*  Custom Styles
*
****************/
#main { 
	max-width: 1200px; 
	position: relative; 
	width: 100%; 
}

.royal-thumbs { 
	background: transparent url('btn-toggle.png') no-repeat; 
	border: none;  
	height: 23px; 
	position: absolute;
	right: 0;
	outline: none;
	text-indent: -9999px; 
	width: 35px;
	z-index: 100; 
}

.royal-thumbs:hover { 
	background-position: 0 -24px; 
}
.mfp-close-btn-in #navThumbs .mfp-close {
	background: transparent url('btn-close.png') no-repeat;
	height: 20px;
	right: 0;
	top: 0;
	width: 28px;
}
.mfp-close-btn-in #navThumbs .mfp-close:focus, .mfp-close-btn-in #navThumbs .mfp-close:active, .mfp-close-btn-in #navThumbs .mfp-close:hover {
	background-position: 0 -20px;
	right: 0px;
	top: 0px;
}


/***************
*
*  Thumbs
*
****************/
#navThumbs { 
	float: none;
	margin: -100px auto 0;
	max-width: 945px;
	padding: 25px;
}

.rsThumbsContainer {
	position: relative !important;
	width: 945px !important;
	-webkit-transition: none !important;
	-webkit-transform: none !important;
}

.rsThumb {
	height: 243px;
	margin: 0 10px 20px;
}

.rsThumb.rsThumb:hover {
	background: #be2e1a;
}
.rsThumb.rsThumb:hover img {
	opacity: 0.3;
	filter: alpha(opacity=30);
}

.rsTmb img { 
	height: 243px;
}


/***************
*
*  Arrows
*
****************/
.rsArrow {
	height: 100%;
	width: 44px;
	position: absolute;
	display: block;
	cursor: pointer;
	z-index: 21;
}
.rsVer .rsArrow {
	width: 100%;
	height: 44px;
}
.rsVer .rsArrowLeft { 
	left: 0;
	top: 0;  
}
.rsVer .rsArrowRight { 
	bottom: 0; 
	left: 0; 
}
.rsHor .rsArrowLeft { 
	left: 0; 
	top: 0; 
}
.rsHor .rsArrowRight { 
	right: 0; 
	top:0; 
}
.rsArrowIcn {		
	width: 23px;
	height: 52px;
	top: 50%;
	left: 50%;
	margin-top:-16px;	
	margin-left: -16px;
	position: absolute;	
	cursor: pointer;	
	background: url('sprite-arrows.png');
}

.rsHor .rsArrowLeft .rsArrowIcn { background-position: 0 0; }
.rsHor .rsArrowRight .rsArrowIcn { background-position: -52px 0; }
.rsVer .rsArrowLeft .rsArrowIcn { background-position: - -32px; }
.rsVer .rsArrowRight .rsArrowIcn { background-position: -96px -52px; }

.rsArrowDisabled .rsArrowIcn { 
	opacity: .2; filter: alpha(opacity=20);  
	*display: none; 
}

@media screen and (max-width: 1024px) {
	.royal-thumbs { display: none; }
}